<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768393681101-vfdfe1gosblic1s0ikp9fs7uqec6gug3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768393681101-vfdfe1gosblic1s0ikp9fs7uqec6gug3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>768393681101-0m9tufh57bak9iap716d57u8gdcq4vc2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCg8Os-rjupxOkCXAeHwHoYZHhdraAJNQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>768393681101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ottovate.farketmezknk</string>
	<key>PROJECT_ID</key>
	<string>farketmezknk-257ca</string>
	<key>STORAGE_BUCKET</key>
	<string>farketmezknk-257ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768393681101:ios:7ebd235e90ab2dfe76b184</string>
</dict>
</plist>