<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768393681101-gtaqbalbuo3q3r1l9j62l4kh7dlf7tfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768393681101-gtaqbalbuo3q3r1l9j62l4kh7dlf7tfo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>768393681101-9rrrr8vndamla7fst18eg5kdcrn5t4tg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKDB7N3DnBSyKV9FtS_izn-RJzKNgT6ro</string>
	<key>GCM_SENDER_ID</key>
	<string>768393681101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ottovate.farketmezknk</string>
	<key>PROJECT_ID</key>
	<string>farketmezknk-257ca</string>
	<key>STORAGE_BUCKET</key>
	<string>farketmezknk-257ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768393681101:ios:a193e618e0858d7976b184</string>
</dict>
</plist>